<h2>Request Details</h2>

<hr/>
<div *ngIf="request">
  <div>
    <label><b>Matricule: </b></label> {{request.matricule}}
  </div>
  <div>
    <label><b>Name: </b></label> {{request.userName}}
  </div>
  <div>
    <label><b>Email: </b></label> {{request.email}}
  </div>
  <div>
    <label><b>Raison: </b></label> {{request.raison}}
  </div>
  <div>
    <label><b>Date de debut: </b></label> {{request.dateDebut}}
  </div>
  <div>
    <label><b>Date de fin: </b></label> {{request.dateFin}}
  </div>
  <div>
    <label><b>Duration: </b></label> {{request.duration}}
  </div>
  <div>
    <label><b>date de creation: </b></label> {{request.createdAt}}
  </div>


</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Request List</button><br>
