<div class="panel panel-primary">
  <div class="panel-heading" >
    <h2> My Requests List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Matricule</th>
        <th>Username</th>
        <th>Email</th>
        <th>Raison</th>
        <th>DateDebut</th>
        <th>DateFin</th>
        <th>Duration</th>
        <th>Created At</th>
        <th>Status</th>

        <!-- <th>Actions</th> -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let request of requests | async">
        <td>{{request.matricule}}</td>
        <td>{{request.userName}}</td>
        <td>{{request.email}}</td>
        <td>{{request.raison}}</td>
        <td>{{request.dateDebut}}</td>
        <td>{{request.dateFin}}</td>
        <td>{{request.duration}}</td>
        <td>{{request.createdAt}}</td>
        <td *ngIf="request.accept == true && request.active == false">Accepted</td>
        <td *ngIf="request.accept == false && request.active == true">Pending</td>
        <td *ngIf="request.accept == false && request.active == false">Rejected</td>



        <!--  <td><button (click)="deleteRequest(request.id)" class="btn btn-danger">Delete</button>
            <button (click)="acceptRequest(request.id)" class="btn btn-danger"> Accept </button>
            <button (click)="rejectRequest(request.id)" class="btn btn-danger"> Reject </button>
            <button (click)="requestDetails(request.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td> -->
      </tr>
      </tbody>
    </table>
  </div>
</div>
