<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Manage pending Requests</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>matricule</th>
        <th>userName</th>
        <th>Email</th>
        <th>Raison</th>
        <th>dateDebut</th>
        <th>dateFin</th>
        <th>duration</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let request of requests | async">
        <td>{{request.matricule}}</td>
        <td>{{request.userName}}</td>
        <td>{{request.email}}</td>
        <td>{{request.raison}}</td>
        <td>{{request.dateDebut}}</td>
        <td>{{request.dateFin}}</td>
        <td>{{request.duration}}</td>
        <td>{{request.createdAt}}</td>
        <td><button (click)="deleteRequest(request.id)" class="btn btn-outline-danger">Delete</button>
          <button (click)="acceptRequest(request.id)" class="btn btn-outline-success">Accept</button>
          <button (click)="rejectRequest(request.id)" class="btn btn-outline-warning" >Reject</button>
          <button (click)="updateRequest(request.id)" class="btn btn-outline-primary" >Update</button>
          <button (click)="requestDetails(request.id)" class="btn btn-outline-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

