<header>
  <meta http-equiv="content-security-policy">
  <nav *ngIf="isLoggedIn" class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="/requests">Requests list</a>
      </li>
    </ul>

    <ul class="navbar-nav">
       <li>
         <a class="nav-link" href="/add">Apply new request</a>
       </li>
    </ul>

    <ul class="navbar-nav">
      <li>
        <a  class="nav-link" href="/manage-requests" >Manage pending requests</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li>
        <a  class="nav-link" href="/my-requests" >My requests history</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Logout</a>
      </li>
    </ul>
  </nav>
</header>
