<h3>Update Request</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="userName">Name</label>
      <input type="text" class="form-control" id="userName" required [(ngModel)]="request.userName" name="userName">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="request.email" name="email">
    </div>

    <div class="form-group">
      <label for="raison">Raison</label>
      <input type="text" class="form-control" id="raison" required [(ngModel)]="request.raison" name="raison">
    </div>

    <div class="form-group">
      <label for="dateDebut">Date debut </label>
      <input type="date" class="form-control" id="dateDebut" required [(ngModel)]="request.dateDebut" name="dateDebut">
    </div>

    <div class="form-group">
      <label for="dateFin">Date fin </label>
      <input type="date" class="form-control" id="dateFin" required [(ngModel)]="request.dateFin" name="dateFin">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
