<h2>Create Request</h2>
<div [hidden]="submitted" style="width: 700px;">
  <form #userForm = "ngForm" (ngSubmit)="onSubmit(userForm.value)" >

    <!--<div class="form-group">
      <label for="matricule">Matricule</label>
      <input type="text" class="form-control" id="matricule" required #matricule="ngModel" [(ngModel)]="request.matricule" name="matricule" >
    </div>-->

    <div class="form-group" style="text-align: center">
      <label for="userName"><b>Nom</b></label>
      <input type="text" class="form-control" id="userName" [(ngModel)]="request.userName" name="userName" required #userName="ngModel">
      <span *ngIf="userName.invalid && userName.touched" class="error"> Name is required</span>

    </div>

    <div class="form-group" style="text-align: center">
      <label for="email"><b>Email Address</b></label>
      <input type="text" class="form-control" id="email" [(ngModel)]="request.email" name="email" required email #email="ngModel">
      <span *ngIf="email.invalid && email.touched" class="error"> Email is not valid</span>

    </div>

<!--    <div class="mb-3">
      <label for="raison" class="form-label">raison</label>
      <textarea class="form-control" id="raison" rows="3" required [(ngModel)]="request.raison" name="raison"></textarea>
    </div>-->

    <div class="form-group" style="text-align: center">
         <label for="raison"><b>Raison</b></label>
         <input type="text" class="form-control" id="raison" [(ngModel)]="request.raison" name="raison" required #raison="ngModel">
      <span *ngIf="raison.invalid && raison.touched" class="error"> raison required</span>

    </div>

    <div class="form-group" style="text-align: center">
      <label for="dateDebut"><b>date de debut de congé</b> </label>
      <input type="date" class="form-control" id="dateDebut"  [(ngModel)]="request.dateDebut" name="dateDebut" required #dateDebut="ngModel">
      <span *ngIf="dateDebut.invalid && dateDebut.touched" class="error"> date required</span>

    </div>

    <div class="form-group" style="text-align: center">
      <label for="dateFin"><b>date de fin de congé</b></label>
      <input type="date" class="form-control" id="dateFin" [(ngModel)]="request.dateFin" name="dateFin" required #dateFin="ngModel">
      <span *ngIf="dateFin.invalid && dateFin.touched" class="error"> date required</span>
    </div>

    <button type="submit" class="btn btn-success" *ngIf="userForm.valid">Submit</button>
  </form>
</div>

<div [hidden]="!submitted" *ngIf="userForm.valid">
  <h4>You applied successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newRequest()">Add</button>
   <button class="btn btn-success" (click)="newRequest()">apply a new requests</button>
   -->
</div>
